Code/Surface Tablet/HumanoidRobot/Service References/HumanoidServiceReference/HumanoidService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HumanoidRobot" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HumanoidRobot" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HumanoidService.PixelData">
    <xs:sequence>
      <xs:element minOccurs="0" name="colorPixels" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="pixelHeight" type="xs:int" />
      <xs:element minOccurs="0" name="pixelWidth" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HumanoidService.PixelData" nillable="true" type="tns:HumanoidService.PixelData" />
</xs:schema>